/*  */

.main-login .login {
  margin: 0 auto;
  width: 430px;
  height: 100%;
  background: rgb(228, 225, 225);
  border-radius: 1rem;
  /* margin: 150px 0 50px 150px; */
  /* position: absolute; */
  opacity: 0.85;
}

.main-login .login .title {
  color: blue;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 10px;
  text-align: center;
  font-family: math;
  font-style: oblique;
  font-weight: bold;
}

.main-login .login .title-input {
  margin-bottom: 5px;
  color: blue;
  line-height: 24px;
  font-family: math;
  font-size: 20px;
  font-style: italic;
}

.input-form {
  margin: 0 30px;
}

.main-login .login .d-flex.mb-5.align-items-center {
  justify-content: right;
  margin-right: 30px;
  font-family: var(--main-font);
}

.main-login .login .btn.btn-danger {
  width: 50%;
  margin: 0 auto;
  display: inherit;
  margin-top: 20px;
  background-color: blue;
  border: none;
}

.main-login .login .btn-primary:hover {
  opacity: 0.5;
  transition: 0.3s;
  background-color: white;
  border: 1px solid black;
}

.main-login .login span#basic-addon1 {
  position: absolute;
  right: 0;
  border: none;
  background: white;
  margin: 1px 30px 0 0;
  padding: 10px;
}

#form-password {
  margin-right: 60px;
  border-radius: 4px;
}

.main-login .login a.forgot-pass {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  font-family: math;
  font-style: oblique;
}

.main-login .login .forgot {
  float: right;
  margin: 40px;
  text-align: center;
  text-decoration: underline;
  color: blue;
  font-style: oblique;
  cursor: pointer;
}

.main-login .login a {
  text-decoration: none;
  display: block;
}
