.main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #ff4800; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  width: 430px;
  height: 400px;
  background: rgb(228, 225, 225);
  border-radius: 1rem;
  /* margin: 150px 0 50px 150px; */
  /* position: absolute; */
  opacity: 0.85;
}

.login .title {
  color: #212529;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 10px;
  text-align: center;
  font-family: math;

  font-style: oblique;
}

.login .title-input {
  font-family: var(--main-font);
  font-size: var(--main-fsize);
  margin-left: 30px;
  margin-bottom: 5px;
  color: #ff4800;
  line-height: 24px;
  font-family: math;
  font-size: 20px;
  font-style: italic;
}

.input-form {
  margin: 0 30px;
}

.login .d-flex.mb-5.align-items-center {
  justify-content: right;
  margin-right: 30px;
  font-family: var(--main-font);
}

.main .login .btn.btn-danger {
  width: 50%;
  margin: 0 auto;
  display: inherit;
  margin-top: 20px;
}

.login .btn-primary:hover {
  opacity: 0.5;
  transition: 0.3s;
  background-color: white;
  border: 1px solid black;
}

.login span#basic-addon1 {
  position: absolute;
  right: 0;
  border: none;
  background: white;
  margin: 1px 30px 0 0;
  padding: 10px;
}

#form-password {
  margin-right: 60px;
  border-radius: 4px;
}

.main .login a.forgot-pass {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  font-family: math;
  font-style: oblique;
}

.login .forgot {
  float: right;
  margin: 40px;
  text-align: center;
  text-decoration: underline;
  color: blue;
  font-style: oblique;
  cursor: pointer;
}

.main .login a {
  text-decoration: none;
  display: block;
}
