.prd-combo-container .link-combo {
  margin-top: 1rem;
}
.prd-combo-container .body-prd-combo {
  background-color: #ffffff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 1rem;
  margin-top: 1rem;
}
.body-prd-combo .sub-body-prd {
  padding: 1rem;
}

.sub-body-prd .title-combo h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.sub-body-prd .title-combo b {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.sub-body-prd .title-combo b span {
  color: #034063;
}

.prd-bodys .check-one img {
  width: 100%;
  position: relative;
}

.title-combos {
  text-align: center;
  background: #254151;
  color: #ffffff;
  padding: 0.5rem;
}
.prd-combos {
  text-align: center;
  padding: 1rem;
  background: #254151;
  margin-top: 1rem;
  color: #ffffff;
  border-radius: 1rem;
}

.prd-combos:hover {
  background: #034063;

  color: #ffffff;
}

.prd-bodys .total-combos {
  margin-top: 1rem;
}

.total-combos .payments-moneys {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.combos-quantity {
  border: 1px solid white;
  border-radius: 2rem;
}

.sub-combos-quantity .quantityss svg {
  color: white;
}

.orders-combo {
  margin-top: 1rem;
  float: right;
}

.sm-title-combos {
  display: none;
}

.sm-prd-combos {
  display: none;
}

/* CSS */

@media (max-width: 768px) {
  .title-combos {
    display: none;
  }
  .prd-combos {
    display: none;
  }
  .sm-title-combos {
    display: block;
  }
  .sm-prd-combos {
    display: block;
  }
  .sm-combos-quantity {
    margin: 0.5rem 0;
  }
  .sm-span-totals {
    margin: 1.1rem 0;
  }
  .sm-prd-bodys img {
    margin-bottom: 1rem;
  }
}

/* CSS cho màn hình tablet */
@media (min-width: 769px) and (max-width: 1024px) {
}
