/*  */

.main-register {
  background-image: url('../../../assets/logo-dang-ky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.main-register .register {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background: rgb(228, 225, 225);
  border-radius: 1rem;
  opacity: 0.85;
}

.main-register .register .title {
  color: blue;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px 10px;
  text-align: center;
  font-family: math;
  font-style: oblique;
  font-weight: bold;
}

.main-register .register .title-input {
  margin-bottom: 5px;
  color: blue;
  line-height: 24px;
  font-family: math;
  font-size: 20px;
  font-style: italic;
}

.input-form {
  margin: 0 30px;
}

.main-register .register .d-flex.mb-5.align-items-center {
  justify-content: right;
  margin-right: 30px;
  font-family: var(--main-font);
}

.main-register .register .btn.btn-danger {
  width: 50%;
  /* margin: 0 auto; */
  display: inherit;
  margin-top: 20px;
  background-color: blue;
  border: none;
  margin: 0.5rem;
  text-align: center;
}

.main-register .register .btn-primary:hover {
  opacity: 0.5;
  transition: 0.3s;
  background-color: white;
  border: 1px solid black;
}

.main-register .register span#basic-addon1 {
  position: absolute;
  right: 0;
  border: none;
  background: white;
  margin: 1px 30px 0 0;
  padding: 10px;
}

#form-password {
  margin-right: 60px;
  border-radius: 4px;
}

.main-register .register a.forgot-pass {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  font-family: math;
  font-style: oblique;
}

.main-register .register .forgot {
  float: right;
  margin: 40px;
  text-align: center;
  text-decoration: underline;
  color: blue;
  font-style: oblique;
  cursor: pointer;
}

.main-register .register a {
  text-decoration: none;
  display: block;
}

.main-register .btn-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-register .btn-footer button p {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .sm-main-register .sm-register {
    width: 100%;
  }
}

/* CSS cho màn hình tablet */
@media (min-width: 769px) and (max-width: 1024px) {
}
