/* Statistics.css */

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-item {
  margin-right: 20px;
}

.filter-item label {
  font-weight: bold;
  margin-right: 5px;
}

.filter-item select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.statistics-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-item {
  flex-basis: 30%;
}

.statistics-table {
  width: 100%;
  border-collapse: collapse;
}

.statistics-table th,
.statistics-table td {
  padding: 10px;
  text-align: center;
}

/* .statistics-table th {
  background-color: #f2f2f2;
} */

.statistics-table td {
  background-color: #fff;
}

.statistics-table tr:nth-child(even) td {
  background-color: #f7f7f7;
}

.statistics-table tfoot tr {
  background-color: #f5f5f5;
  font-weight: bold;
}

.statistics-table tfoot td {
  padding: 8px;
}

.statistics-table tfoot td:first-child {
  text-align: right;
}

.statistics-table tfoot td:last-child {
  text-align: center;
  color: #ff0000;
}

@media (max-width: 768px) {
  .sm-filter-container {
    display: block;
  }
}
