style.css .edit-combo-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.edit-combo-header {
  background: beige;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0.8rem;
  border-radius: 1rem;
  color: blue;
}

.edit-combo-header h1 {
  font-size: 24px;
  margin: 0;
}

.edit-combo-header button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Additional styles for react-toastify */
.toast-container {
  width: 350px;
}

.toast-container .Toastify__toast {
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.toast-container .Toastify__toast--success {
  background-color: #28a745;
}

.toast-container .Toastify__toast--error {
  background-color: #dc3545;
}

.toast-container .Toastify__toast-body {
  padding: 10px;
}
