/* style.css */

.edit-combo-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.edit-combo-header {
  background: beige;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0.8rem;
  border-radius: 1rem;
  color: blue;
}

.edit-combo-header h1 {
  font-size: 24px;
  margin: 0;
}

.edit-combo-header button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.edit-combo-content {
  display: flex;
}

.combo-info {
  flex: 1;
  padding-right: 20px;
}

.image-container {
  margin-bottom: 10px;
}

.image-container label {
  font-weight: bold;
}

.image-container input {
  width: 100%;
  padding: 5px;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
}

.input-group input,
.input-group select {
  padding: 5px;
  width: 100%;
}

.product-list {
  flex: 1;
  padding-left: 20px;
}

.product-table {
  margin-bottom: 10px;
}

.product-table table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-table input,
.product-table select {
  width: 100%;
  padding: 5px;
}

.add-product {
  margin-bottom: 10px;
}

.add-product h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-product .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-product button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.add-product-combo {
  margin-bottom: 10px;
  margin-top: 2rem;
}

.add-product-combo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Additional styles for react-toastify */
.toast-container {
  width: 350px;
}

.toast-container .Toastify__toast {
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.toast-container .Toastify__toast--success {
  background-color: #28a745;
}

.toast-container .Toastify__toast--error {
  background-color: #dc3545;
}

.toast-container .Toastify__toast-body {
  padding: 10px;
}
