.code-product {
  font-size: 1rem;
  color: #939393;
  margin: 0.8rem 0;
}

#priceandstatus {
  display: flex;
  justify-content: space-between;
}

#priceandstatus p {
  color: #00d084;
}

#priceandstatus span {
  color: #0b68b1;
}

.title-prd {
  color: black;
}

.title-prd:hover {
  color: blue;
}


@media (max-width: 768px) {
 .sm-card {
  margin:  0 auto;
 }
 .sm-card-combo {
  margin: 0 auto;
 }
 }
 
 /* CSS cho màn hình tablet */
 @media (min-width: 769px) and (max-width: 1024px) {
   .my-component {
     /* Các thuộc tính dành cho màn hình tablet */
   }
 }
