.card-horizontal-container {
  /* box-shadow: 0 3px 6px #00000029;
  border-radius: 1.5rem; */
}

.card-horizontal-container .body-card {
  /* padding: 1rem; */
  margin-bottom: 1rem;
}

.body-card .img-card {
  position: relative;
  /* width: 25%;
  height: 25%; */
}

.body-card .img-card img {
  width: 100%;
}

.body-card .img-card .close-prd {
  position: absolute;
  top: -11px;
  left: 69px;
  color: gray;
}

.body-card .action-prd-dt {
  opacity: 0.7;
  border: 1px solid gray;
  border-radius: 2rem;
}

.action-prd-dt .btn-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-prd-dt .btn-quantity .hover-card:hover {
  background-color: #0b8dbe;
  color: white;
}

.body-card .close-prd:hover {
  color: black;
  cursor: pointer;
}

.total-prd-card .sub-total {
  display: flex;
  justify-content: space-between;
}

.action-prd-dt-btn-card {
  display: flex;
  justify-content: right;
  padding: 2rem;
}

.action-prd-dt-btn-card button {
  border: 1px solid gray;
}

.action-prd-dt-btn-card button:hover {
  background: #0b8dbe;
  color: white;
}
